*, *::before, *::after {
    box-sizing: border-box;
    font-family: gothan rounded;
    font-size: larger;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
.container{
    width: 600px;
    max-width: 80%;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.container2{
    width: 400px;
    max-width: 80%;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin-left: 25px;
}

.int {
    width: 10px;
    max-width: 80%;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
border: 1px solid black;
background-color: cornflowerblue;
border-radius: 5px;
padding: 5px 10px;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
